<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="../../plugins/bootstraptable/dist/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css" type="text/css"></link>
    <link rel="stylesheet" href="../../plugins/fancytree/skin-bootstrap/ui.fancytree.css" type="text/css"></link>
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.css" type="text/css"></link>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" type="text/css"></link>
    <link rel="stylesheet" href="../../plugins/bootstrap3-editable/css/bootstrap-editable.css" type="text/css"></link>
    <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap-treeview.js"></script>
	<script type="text/javascript" src="../../plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
	<script type="text/javascript" src="../../plugins/bootstraptable/dist/bootstrap-table.js"></script>
	<script type="text/javascript" src="../../plugins/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/jquery.formFill.js"></script>
	<script type="text/javascript" src="../../plugins/bootstraptable/dist/extensions/editable/bootstrap-table-editable.js"></script>
	<script type="text/javascript" src="../../plugins/bootstraptable/dist/locale/bootstrap-table-zh-CN.min.js"></script>
</head>

<body>
    <div id="container">

        <div class="toolbar" id="toolbar01">

            <div class="btn-group " style="margin-top:5px; padding-left:2px;">
                <button type="button" class="btn btn-default"   disabled="disabled"  id="btntable-view"><i class="fa fa fa-table"></i>&nbsp;查看</button>
               <button type="button" class="btn btn-default" id="btntable-add"><i class="fa fa-plus"></i>&nbsp;新增</button>
                <button type="button" class="btn btn-default"  disabled="disabled" id="btntable-edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</button>
                <button type="button" class="btn btn-default"  disabled="disabled" id="btntable-delete"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                <button type="button" class="btn btn-default" id="btntable-refresh"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
               <!-- <button type="button" class="btn btn-default" id="btntable-go"><i class="fa fa-check-circle-o"></i>&nbsp;提交</button>-->     
                <button type="button" class="btn btn-default" id="btntable-search"><i class="fa fa-search"></i>&nbsp;查询</button>

            </div>
        </div>

        <div id="tablecontainer" style="padding:30px 10px; font-size:13px;margin-top:-20px;overflow:auto;">
            <table id="tb_datamodel">
           		

            </table>

        </div>



    </div>

    
	<script type="text/javascript" src="form_md_list.js"></script>
</body>
	
</html>