.navbar-inverse {
    background-color: #fff;
    border: 0px;
}

.navbar {
    margin-bottom: 0;
    height: 59px;
}

.form-top {
    overflow: hidden;
    padding: 10px 10px 5px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    border-bottom: 1px solid #CCCACB;
}

.form-bottom {
    padding: 10px 25px 30px 25px;
    background: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

    .form-bottom form button.btn {
        width: 100%;
        background-color: #3C9BED;
        color: #fff;
        height: 45px;
        font-size: 18px;
    }

.myCheckbox {
    position: absolute;
    width: 17px;
    height: 17px;
}

.form-control {
    height: 45px;
    font-size: 15px;
}

input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
}

mcs_fontfamily {
    font-family: 'Microsoft YaHei';
}

mcs_fontstyle_input {
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    font-weight: 600;
    color: #DBDBDB;
}

.mcs_margin {
    margin-bottom: 20px;
}

.col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
}

