<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>孔智云</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link href="/images/mainlogo.png" rel="shortcut icon" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="/cdn/font-awesome.min.css" />
    <link rel="stylesheet" href="/cdn/ionicons.min.css" />
    <link href="/module/dist/form.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="/bootstraptable/dist/bootstrap-table.min.css" />-->
    <link rel="stylesheet" href="/module/dist/SlickGrid/slick.grid.css" type="text/css" />
    <link rel="stylesheet" href="/module/dist/SlickGrid/css/smoothness/jquery-ui-1.11.3.custom.css" type="text/css" />
    <!--<link rel="stylesheet" href="/module/dist/SlickGrid/slick-default-theme.css" type="text/css" />-->
    <link rel="stylesheet" href="/module/dist/SlickGrid/examples/examples.css" type="text/css" />
    <style>
        .mc-cell {
            text-align: center;
        }
        
        .control-label {
            font-weight: normal !important;
        }
        
        .nav-tabs li a {
            border: solid 1px #bdc3c7 !important;
            color: #000 !important;
        }
        
        .nav-tabs li.active a {
            background-color: #3498db !important;
            color: #fff !important;
        }
        
        .tab-content {
            border: solid 1px #bdc3c7 !important;
        }
        
        .cell-title {
            text-align: center;
        }
        
        .slick-cell-checkboxsel {
            text-align: center;
            background: #f0f0f0;
            border-right-color: silver;
            border-right-style: solid;
        }
        
        .slick-row.selected .cell-selection {
            background-color: #016a9f;
        }
         .slick-preheader-panel.ui-state-default  {
      width: 100%;
      overflow: hidden;
      border-left: 0px !important;
      border-bottom: 0px !important;
    }
    .slick-preheader-panel .slick-header-columns {
      border-bottom: 0px !important;
    }  
    .list-group-item {
        border:none;
     }
        #container {
            height:500px;
        }
         #searchresult    
    {    
        /*width: 200px;*/    
        position: absolute;    
        z-index: 1;    
        overflow: hidden;    
         left: 5px;    
        top: 35px;      
        background: #fff;    
        border-top: none;    
        border:1px solid #bdc3c7;
        border-radius:4px;  
    }    
    #searchresult1    
    {    
        /*width: 200px;*/    
        position: absolute;    
        z-index: 1;    
        overflow: hidden;    
        left: 140px;    
        top: 71px;    
        background: #fff;    
        border-top: none;    
        border:1px solid #bdc3c7;
        border-radius:4px;  
    }    
    .line    
    {    
        /*font-size: 18px;*/    
        background: #fff;    
        /*width: 140px;*/    
        padding:0px;    
    }    
    .hover    
    {    
        background: #007ab8;    
        width: 214px;    
        color: #fff;    
    }    
    .std    
    {    
       font-size: 16px;  
       width: 220px; 
    } 
    .line1    
    {    
        /*font-size: 18px;*/    
        background: #fff;    
        /*width: 140px;*/    
        padding:0px;    
    }    
    .hover1    
    {    
        background: #007ab8;    
        width: 214px;    
        color: #fff;    
    }    
    .std1    
    {    
       font-size: 16px;  
       width: 220px; 
    }        
    </style>

</head>

<body>
    <div id="container">
        <div class="mdatafield" >
            <div class="toolbar">
                <div class="btn-group " style="margin-top:5px; padding-left:16px;">
                   
                    <button type="button" class="btn btn-default" id="btntable-search"><i class="fa fa-search"></i>&nbsp;查询</button>
                    <button type="button" class="btn btn-default" id="btntable-reset"><i class="fa fa-search"></i>&nbsp;重置</button>
                    
             <!--       <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sliders"></i>&nbsp;更多<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li id="btntable-dev"><a href="#"><i class="fa fa-code"></i>&nbsp;开发模式</a></li>
                            <li id="btntable-config"><a href="#"><i class="fa fa-cogs"></i>&nbsp;配置</a></li>
                        </ul>
                    </div>-->

                </div>
            </div>
            <div style="padding:30px 10px; font-size:13px;margin-top:-20px;">
                <input type="hidden" name="" id="mc_json_data" data-mc_json="" />
                <form class="form-horizontal" role="form" id="frmdata" data-table="KHA考核_经营指标完成情况">
                    <!--主表区域-->
                    <div class="form-group">
                        <label class="col-sm-1 col-md-1 control-label" style="min-width:130px;">年</label>
                        <div class="col-sm-4 col-md-4">
                            <select class="form-control" name="单据年" id="form_year">
                                
                            </select>
                        </div>
                        <label class="col-sm-1 col-md-1 control-label" style="min-width:130px;">月</label>
                        <div class="col-sm-4 col-md-4">
                           <select class="form-control" name="单据月" id="month">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 col-md-1 control-label" style="min-width:130px;">单位名称</label>
                        <div class="col-sm-4 col-md-4">
                            <!--自定义下拉控件-->
                            <!--自定义下拉控件-->
                            <div class="input-group">
                                <input type="text" class="form-control" name="部门名称" id="txtModuleType" data-id="" value="" />
                                <div id="searchresult" style="display: none;"></div>
                                <div class="input-group-btn" id="txtModuleType_btn">
                                    <button id="button-control" class="btn btn-default btn-info dropdown-toggle cm-dropdown-toggle" data-toggle="dropdown" type="button" style="height:34px" data-target="txtModuleType" data><i class="fa fa-lightbulb-o"></i></button>
                                    <div class="dropdown-menu pull-right cm-dropdown-menu" style="width:250px;height:300px; overflow:auto" data-target="txtModuleType">
                                        <!--可以是iframe-->
                                        <div id="tree"></div>
                                    </div>
                                </div>
                            </div>
                            <!--自定义下拉控件-->
                        </div>
                           <div id="form-group">
                        <label class="col-sm-1 col-md-1 control-label" style="min-width:130px;">指标名称</label>
                        <div class="col-sm-4 col-md-4">
                            <!--自定义下拉控件-->
                            <div class="input-group">
                                <input type="text" class="form-control" name="名称"  id="txtModuleTypezhibiao" data-id="" />
                                <div id="searchresult1" style="display: none;"></div>
                                <div class="input-group-btn" id="Div1">
                                    <button id="button-control1" class="btn btn-default btn-info dropdown-toggle cm-dropdown-toggle" data-toggle="dropdown" type="button" style="height:34px" data-target="txtModuleType" data><i class="fa fa-lightbulb-o"></i></button>
                                    <div class="dropdown-menu pull-right cm-dropdown-menu" style="width:250px;height: 296px" data-target="txtModuleType">
                                        <!--可以是iframe-->
                                        
                                        <!--可以是其他HTML控件-->
                                      <div id="input_group_btn_zhibiao" data-target="txtModuleType">
                                       
                                  </div>

                                    </div>
                                </div>
                                
                            </div>
                           
                            <!--自定义下拉控件-->
                        </div>
                            </div>
                    </div>
                     <div style="display: none;">
                        <input name="部门ID" id="部门ID" data-type="字符串" type="text" />
                        <input name="指标ID" id="指标ID" data-type="字符串" type="text" />
                    </div>

                    <!--</div>-->
                   
                    <!--主表区域-->
                    <!--子表区域-->
                   
                    <!--子表区域-->
                </form>

            </div>
        </div>

    </div>

    <script>
        document.write('<script src="/script/commonFile/ver.js?ver=' + Math.random() + '" type="text/javascript"> </s' + 'cript>');
    </script>

    <script>
        document.write('<script src="/script/commonFile/common.js?ver=' + mc_WebVer + '" type="text/javascript"> </s' + 'cript>');
    </script>




    <script src="/module/dist/jquery.formFill.js"></script>



    <!--script 顺序很重要  -->
    <!--<script src="/module/dist/masterdetail/form_md.js"></script>-->
    <script>
         <!--年份-->
    var oDate = new Date(); //实例一个时间对象；
    var year = oDate.getFullYear();   //获取系统的年
    var year1 = oDate.getFullYear();   //获取系统的年
    var year2 = year + 5;
    var year3 = year1 + 5;
    var i = 0;
    var html = "";
    while (i++ < 5) {
        html += "<option value='" + year2-- + "'>" + year3-- + "</option>";
    }
    html += "<option value='" + year + "'  selected>" + year1 + "</option>";
    var ii = 0;
    var year = year - 1;
    var year1 = year1 - 1;

    while (ii++ < 2) {
        html += "<option value='" + year-- + "'>" + year1-- + "</option>";
    }
    $("#form_year").html(html);//年份id

    //月份
    var month = oDate.getMonth();
    var select = document.getElementById('month');
    var option = select.getElementsByTagName('option');
    for (var i = 0; i < option.length; i++) {
        if (parseInt("" + option[i].value + "", 10) === month + 1) {
            option[i].setAttribute("selected", "selected");
        };
    };

    //http://blog.csdn.net/besley/article/details/9281053
    ////////////////////////////////////////////


    /////////////////////////////////////////




    $(function () {
         var dept_treedata = [];
        ////////////////////////////////////////////////////////////
        function BindDept() {
            //R C M D
            var json = { "json": [""] };
            var __str = JSON.stringify(json);
            $.ajax({
                type: "POST",
                url: "/BAPI/BAPI_ASHX.ashx",
                data: { "api": "MC.YMJYGL.Server.YMJYGL.common.Select.BAPI_查询_部门数据", "type": "json", "ticket": pub.State.Ticket, "data": __str },
                dataType: "Json",
                error: function (xhr, status, error) {
                    alert(error);
                },
                success: function (data) {
                    console.log(data.json.Data);
                    if (data.json.State == "1") {
                        dept_treedata = data.json.Data;
                        //设置tree 的合并
                        var i = 0;
                        for (; i < dept_treedata.root.length; i++) {
                            dept_treedata.root[i].state = {
                                expanded: false,
                            };
                        }
                        JSON.stringify(dept_treedata);
                        $('#tree').treeview({
                            data: dept_treedata.root,
                            collapseIcon: "glyphicon glyphicon-chevron-right",
                            expandIcon: "glyphicon glyphicon-chevron-down",
                            onNodeSelected: function (event, data) {
                                bmflag = 1;
                                var name = data.text;//获取文本
                                var id = data.ID;//获取id
                                $('input[name="部门ID"]').val(id);
                                $("#txtModuleType").val(name);

                                if (data.state.expanded == false) {
                                    var arrnode = $('#tree').treeview('getSiblings', data.nodeId);
                                    $('#tree').treeview('expandNode', [data.nodeId, { silent: true }]);
                                    for (var i = 0; i <= arrnode.length; i++) {
                                        if (data.nodeId == arrnode[i]) {
                                            $('#tree').treeview('collapseNode', [arrnode[i], { silent: true, ignoreChildren: false }]);
                                        }
                                    }; //$("#tree1").val(data.nodeId);
                                }
                                else {
                                    var arrnode = $('#tree1').treeview('getSiblings', data.nodeId);
                                    $('#tree').treeview('collapseNode', [data.nodeId, { silent: true }]);
                                    for (var i = 0; i <= arrnode.length; i++) {
                                        if (data.nodeId == arrnode[i]) {
                                            $('#tree').treeview('expandNode', [arrnode[i], { silent: true, ignoreChildren: true }]);
                                        }
                                    };// $("#tree1").val(data.nodeId);
                                }
                            }
                        });

                    } else {
                        if (data.json.Message != "") {
                            //后台提示
                            top.window.layer.msg(data.json.Message);
                        } else {
                            top.window.layer.msg("操作失败");
                        }
                    }
                }

            });
        }
        BindDept();

        //指标tree
        var dept_treedata1 = [];
        function BindDeptzb() {
            //R C M D
            var json = { "json": [""] };
            var __str = JSON.stringify(json);
            $.ajax({
                type: "POST",
                url: "/BAPI/BAPI_ASHX.ashx",
                data: { "api": "MC.YMJYGL.Server.YMJYGL.common.Select.BAPI_查询_指标数据", "type": "json", "ticket": pub.State.Ticket, "data": __str },
                dataType: "Json",
                error: function (xhr, status, error) {
                    alert(error);
                },
                success: function (data) {
                    console.log(data.json.Data);
                    if (data.json.State == "1") {
                        dept_treedata1 = data.json.Data;
                        var i = 0;
                        for (; i < dept_treedata1.root.length; i++) {
                            dept_treedata1.root[i].state = {
                                expanded: false,
                            };
                        }
                        JSON.stringify(dept_treedata1);
                        $('#input_group_btn_zhibiao').treeview({
                            data: dept_treedata1.root,
                            collapseIcon: "glyphicon glyphicon-chevron-right",
                            expandIcon: "glyphicon glyphicon-chevron-down",
                            onNodeSelected: function (event, data) {
                                zbflag = 1;
                                var name = data.text;//获取文本
                                var id = data.ID;


                                //获取id
                                $('input[name="指标ID"]').val(id);
                                $("#txtModuleTypezhibiao").val(name);

                                if (data.state.expanded == false) {
                                    var arrnode = $('#input_group_btn_zhibiao').treeview('getSiblings', data.nodeId);
                                    $('#input_group_btn_zhibiao').treeview('expandNode', [data.nodeId, { silent: true }]);
                                    for (var i = 0; i <= arrnode.length; i++) {
                                        if (data.nodeId == arrnode[i]) {
                                            $('#input_group_btn_zhibiao').treeview('collapseNode', [arrnode[i], { silent: true, ignoreChildren: false }]);
                                        }
                                    }; //$("#tree1").val(data.nodeId);
                                }
                                else {
                                    var arrnode = $('#tree1').treeview('getSiblings', data.nodeId);
                                    $('#input_group_btn_zhibiao').treeview('collapseNode', [data.nodeId, { silent: true }]);
                                    for (var i = 0; i <= arrnode.length; i++) {
                                        if (data.nodeId == arrnode[i]) {
                                            $('#input_group_btn_zhibiao').treeview('expandNode', [arrnode[i], { silent: true, ignoreChildren: true }]);
                                        }
                                    };// $("#tree1").val(data.nodeId);
                                }
                            }
                        });

                    } else {
                        if (data.json.Message != "") {
                            //后台提示
                            top.window.layer.msg(data.json.Message);
                        } else {
                            top.window.layer.msg("操作失败");
                        }
                    }
                }

            });
        }
        BindDeptzb();

    });
    </script>

    <!--form_md.js 中用到上面的 mc_grid_dic 等信息,若放到上面则报错 -->
    <!--权限及工作流集成，不允许修改 （平台模块）-->
    <script src="form_query.js"></script>

</body>

</html>