 ﻿
<!DOCTYPE html>
<html>
<head>
<title>form_md.html</title>

<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="../../plugins/bootstraptable/dist/bootstrap-table.min.css" />
<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css" type="text/css"></link>
<link rel="stylesheet" href="../../plugins/fancytree/skin-bootstrap/ui.fancytree.css" type="text/css"></link>
<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.css" type="text/css"></link>
<link rel="stylesheet" href="../../plugins/layui/css/layui.css" type="text/css"></link>
<link rel="stylesheet" href="../../plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css"></link>
<link rel="stylesheet" href="../../plugins/bootstrap-fileinput/fileinput.min.css" type="text/css"></link>
<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap-treeview.js"></script>
<script type="text/javascript" src="../../plugins/bootstraptable/dist/bootstrap-table.js"></script>
<script type="text/javascript" src="../../plugins/layer/layer.js"></script>
<script type="text/javascript" src="../../js/jquery.formFill.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-datetimepicker/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap-fileinput/zh.js"></script>
<script type="text/javascript" src="../../plugins/bootstraptable/dist/locale/bootstrap-table-zh-CN.js"></script>
</head>

<body>
	<div class="mdatafield" style="overflow: auto;height:95%;">
		<div class="form_form">
			<div class="toolbar" style="background: #DCDCDC">
				<div class="btn-group " id="btn-group-tz" style="margin-top: 5px; padding-left: 16px; margin-bottom: 5px;">
					<button type="button" class="btn btn-default" id="btntable-save">
						<i class="fa fa-save"></i>&nbsp;保存
					</button>
					<button type="button" class="btn btn-default" id="btntable-chongzhi">
						<i class="fa fa-search"></i>&nbsp;重置
					</button>
				</div>
			</div>
			<div style="padding-top: 20px; padding-right: 20px; font-size: 13px;">
				<form class="form-horizontal" role="form" id="frmdata" data-table="公告警示">
					<input type="hidden" id="单据类型" name="单据类型" value="法规文件"/>
					<input type="hidden" id="id" name="id" />
					<div class="form-group">
						<label class="col-sm-2 col-md-2 control-label">法规类型</label>
						<div class="col-sm-4 col-md-4">
						<select class="form-control" id="详细类别" name="详细类别">
							<option value="国家法规">国家法规</option>
							<option value="地方法规">地方法规</option>
							<option value="矿内法规">矿内法规</option>
						</select>
						</div>
						<label class="col-sm-2 col-md-2 control-label" style="margin-left: 14px;">发布时间</label>
						<div class='col-sm-3 col-md-3 input-group date' id='date'>
							<input type='text' class="form-control" id="发布时间" name="发布时间" /> 
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div>
						<div class="form-group">
						
						<label class="col-sm-2 col-md-2 control-label">法规标题</label>
						<div class="col-sm-4 col-md-4">
							<input type="text" class="form-control" id="名称" name="名称" />
						</div>
					</div>
						<div class="form-group">
							<label class="col-sm-2 col-md-2 control-label">附件上传</label>
							<div class="col-sm-9 col-md-9">
								<input type="file" name="file" id="file" multiple class="file-loading" />
							</div>
						</div>
					</div>
					
				</form>
				<div style="display:none;">
					<table  id="附件信息"></table>
				</div>
				 
				<div id="附件表"  style="margin-left: 70px;display:none;">
					<div id="toolbar">
						<div class="btn-group">
							<button type="button" class="btn btn-default" id="btntable-view">
								<i class="fa fa fa-table"></i>&nbsp;查看
							</button>
							<button type="button" class="btn btn-default" id="btntable-deleteFile">
								<i class="fa fa-trash-o"></i>&nbsp;删除
							</button>
							<button type="button" class="btn btn-default" id="btntable-refreshFile">
								<i class="fa fa-refresh"></i>&nbsp;刷新
							</button>
						</div> 
					</div>
					<div  style="margin-top: 10px; overflow: auto;">
						<table id="table" data-table="附件"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="form_md.js"></script>
</html>
